node_modules/
dist/
dist-ssr/
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
.idea/
src-tauri/target/
src-tauri/gen/
src-tauri/WixTools/
android/
ios/
.capacitor/
*.local
.env
.env.*
!.env.example
coverage/
.turbo/
.vite/
*.zip
!public/**
.cache/
